<div class='container' ng-controller='CompanyStatusCtrl'>
	<ul class='list-group'>
			<li class='list-group-item' ng-class="{'list-group-item-success': regions.length >3}">We have {{regions.length}} regions</li>		

			<li class='list-group-item' ng-class="{'list-group-item-success': salesPeople.length >3}" >We have {{salesPeople.length}} sales people</li>
	</ul>
</div>

<div class='container' ng-controller='regionsCtrl'>
	<form  name='form' class='well'>
	<input class='form-control' required placeholder='region zip' ng-model='region.zip' />
	<br>
	<button ng-disabled='form.$invalid' class='btn btn-primary' ng-click='create()'>Create Region</button>
	</form>
</div>

<div class="container">
	<ul class='list-group' ng-controller='regionsCtrl'>
		<li class='list-group-item' ng-repeat='region in regions'>{{region.zip}} 
			<button class='btn btn-danger pull-right' ng-click='destroy(region)'>Delete
			</button>
			<br clear='all'>

		</li>
	</ul>
</div>	
